/* application development */
.application-development-title {
  font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: bold;
	background-color: #026fd1;
  color: #FFFFFF;
  padding: 25px 0 25px 0;
  text-align: center;
}

.application-development-image {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 50px;
  display: block;
  margin: 0 auto 20px auto;
}

.application-development-key-benefits-container {
  /*padding: 5% 0;*/
}

.application-development-key-benefits-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  margin: 5% auto 2% auto;
  color: #777;
  text-align: left;
  padding: 0 5%;
}

.application-development-key-benefits-title::after {
  content: "";
  background-color: #777;
  margin: 3px 0 0 0;
  width: 100%;
  height: 1px;
  display: block;
}

.application-development-key-benefits-image-wrapper {
  margin: 0 auto;
  display: block;
  background-color: #026fd1;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

.application-development-key-benefits-image {
  margin: 11px;
  width: 128px;
  height: 128px;
  background-color: #FFFF;
  border-radius: 30px;
}

.application-development-description {
  width: 90%;
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 10px auto;
  color: #000;
  text-align: left;
}

.application-development-serverless-legend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  margin: 30px 0;
}

.application-development-serverless-solid {
  display: inline-block;
  width: 200px;
  height: 44px;
  background-color: #026fd1;
  border-radius: 3px;
  margin: 10px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

.application-development-serverless-dash {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border: 2px dashed #026fd1;
  border-radius: 3px;
  margin: 10px;
}

/**/
.application-development-serverless-container {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "roboto", sans-serif;
  text-align: center;
  font-weight: 300;
}

.application-development-serverless-column {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  min-height: 380px;
  /*max-width: 240px;*/
  background-color: #FFFFFF;
}

.application-development-serverless-column img {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
}

@media (max-width:500px) {
  .application-development-serverless-column img {
    max-width: 90%;
  }
}

.application-development-serverless-title {
  margin: 30px 0 0 0;
  font-size: 20px;
  font-weight: 400;
}
/**/
.application-development-firebase-title {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.application-development-firebase-box {
  display: inline-block;
  width: 220px;
  height: 50px;
  background-color: #026fd1;
  border-radius: 3px;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.application-development-serverless-benefits-container {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "roboto", sans-serif;
  text-align: center;
  font-weight: 300;
}

.application-development-serverless-benefits-column {
  width: 350px;
  margin: 20px;
}

.application-development-serverless-benefits-image-wrapper {
  width: 180px;
  height: 180px;
  margin: auto;
}

.application-development-serverless-benefits-image-wrapper img {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
}

.application-development-serverless-benefits-title {
  margin: 10px auto;
  color: #026fd1;
  font-size: 25px;
  line-height: 25px;
  height: 50px;
}

.application-development-serverless-benefits-description {
  text-align: justify;
  line-height: 1.5;
}

/**/
.specialization {
  width: 90%;
  margin: 0 20px;
}

.specialization p {
  display: none;
}

.specialization img {
  display: block;
  margin: 20px auto;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto;
}

.specialization-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 20px auto;
}
/* end of application development */
