/* cloud migration */
.application-development-title {
  font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: bold;
	background-color: #026fd1;
  color: #FFFFFF;
  padding: 25px 0 25px 0;
  text-align: center;
}

.application-development-image {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 50px;
  display: block;
  margin: 0 auto 20px auto;
}

.application-development-key-benefits-container {
  padding: 5% 0;
}

.application-development-key-benefits-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  margin: 5% auto 2% auto;
  color: #777;
  text-align: left;
  padding: 0 5%;
}

.application-development-key-benefits-title::after {
  content: "";
  background-color: #777;
  margin: 3px 0 0 0;
  width: 100%;
  height: 1px;
  display: block;
}

.application-development-key-benefits-image-wrapper {
  margin: 0 auto;
  display: block;
  background-color: #026fd1;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.application-development-key-benefits-image {
  margin: 11px;
  width: 128px;
  height: 128px;
  background-color: #FFFF;
  border-radius: 50px;
}

.application-development-key-benefits-description {
  width: 90%;
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 10px auto;
  color: #000;
  text-align: left;
}

.migration-methods-container {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.migration-methods {
  margin: 5px;
  width: 350px;
}

.migration-methods-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: normal;
  margin: 5% auto;
  color: #026fd1;
  text-align: left;
  padding: 5%;
}

.migration-methods-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 5% auto;
  color: #000000;
  text-align: justify;
  padding: 5%;
}

.migration-phases-container {
  padding: 5% 0;
}

.migration-phases {
  background-color: #FFFFFF;
  border: solid #026fd1;
  border-radius: 20px;
  width: 400px;
  height: 320px;
  margin: 20px auto;
  /*background-color: cyan;*/
}

@media (max-width:400px) {
	.migration-phases {
		width: 90%;
	}
}

.down-arrow {
  /*
  content: url('https://idcloudace.files.wordpress.com/2019/11/arrow-213-16.png');
  display: block;
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: magenta;
  */
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #026fd1;
  display: block;
  margin: auto;
}

.migration-phases-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: normal;
  padding: 5% 10%;
  color: #777;
}

.migration-phases-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  padding: 5% 10%;
  color: #000000;
}

.migration-phases-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
  display: block;
}

.specialization {
  width: 90%;
  margin: 0 5%;
  padding: 5% 0;
}

.specialization p {
  display: none;
}

.specialization img {
  display: block;
  margin: 5% auto;
  width: 250px;
}

.specialization-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 5% auto;
}
/* end of cloud migration */
