
@media(hover: hover) and (pointer: fine) {
	.main-menu li:hover {
	/*transition: background-color 0.4s;*/
		background-color: #ddd;
		color: black;
		background-color: red;
	}

	.main-menu li:hover .sub-menu {
	/*transition: all 2s ease;*/
		background-color: #FFFFFF;
		color: black;
		display: block;
		opacity: 1;
		background-color: red;
	}

	.main-menu li:hover .menu-item-has-children li {
		display: none;
		background-color: red;
	}

	.menu-item-has-children:hover::after {
		transition: transform .5s ease;
		transform: rotate(225deg);
		background-color: red;
	}

	.menu-item-has-children:not(hover)::after {
		transition: transform .5s ease;
		transform: rotate(45deg);
		background-color: red;
	}

	.sub-menu li:hover {
		background-color: #ddd;
		color: black;
		background-color: red;
	}

	/* new menu parts */
	.main-menu li:hover .menu-item-has-children::after {
		content: "";
	/*background-color: red;*/
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		text-align: right;
		float: right;
		margin-top: -10px;
		margin-right: 5px;
		background-color: red;
	}

	.main-menu li:hover .menu-item-has-children:hover::after {
		transition: transform .5s ease;
		transform: rotate(135deg);
		background-color: red;
	}

	.main-menu li:hover .menu-item-has-children:not(hover)::after {
		transition: transform .5s ease;
		transform: rotate(-45deg);
		background-color: red;
	}

	/* new menu parts */
	.main-menu li:hover .menu-item-has-children:hover {
		background-color: red;
	}

	.main-menu li:hover .menu-item-has-children:hover ul {
		padding: 0;
		margin-top: -30px;
		position: absolute;
		left: 100%;
		background-color: red;
	}

	.main-menu li:hover .menu-item-has-children:hover li {
		display: block;
	/*background-color: blue;*/
		background-color: red;
	}
}

@media(hover: none) {
	.main-menu li:hover {
	/*transition: background-color 0.4s;*/
		background-color: #ddd;
		color: black;
		background-color: lime;
	}

	.main-menu li:hover .sub-menu {
	/*transition: all 2s ease;*/
		background-color: #FFFFFF;
		color: black;
		display: block;
		opacity: 1;
		background-color: lime;
	}

	.main-menu li:hover .menu-item-has-children li {
		display: none;
		background-color: lime;
	}

	.menu-item-has-children:hover::after {
		transition: transform .5s ease;
		transform: rotate(225deg);
		background-color: lime;
	}

	.menu-item-has-children:not(hover)::after {
		transition: transform .5s ease;
		transform: rotate(45deg);
		background-color: lime;
	}

	.sub-menu li:hover {
		background-color: #ddd;
		color: black;
		background-color: lime;
	}

	/* new menu parts */
	.main-menu li:hover .menu-item-has-children::after {
		content: "";
	/*background-color: red;*/
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		text-align: right;
		float: right;
		margin-top: -10px;
		margin-right: 5px;
		background-color: lime;
	}

	.main-menu li:hover .menu-item-has-children:hover::after {
		transition: transform .5s ease;
		transform: rotate(135deg);
		background-color: lime;
	}

	.main-menu li:hover .menu-item-has-children:not(hover)::after {
		transition: transform .5s ease;
		transform: rotate(-45deg);
		background-color: lime;
	}

	/* new menu parts */
	.main-menu li:hover .menu-item-has-children:hover {
		background-color: lime;
	}

	.main-menu li:hover .menu-item-has-children:hover ul {
		padding: 0;
		margin-top: -30px;
		position: absolute;
		left: 100%;
		background-color: lime;
	}

	.main-menu li:hover .menu-item-has-children:hover li {
		display: block;
	/*background-color: blue;*/
		background-color: lime;
	}
}
