/* jobs */
.page-id-934 .site-content {
  width: 90%;
  max-width: 1200;
	display: block;
	margin: 0 auto;
}

.page-id-934 .site-content a {
  font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.category-jobs {
  width: 90%;
  max-width: 1200;
	display: block;
	margin: 0 auto;
}

.category-jobs li {
  font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
/* end of jobs */
