/* seminar */
.click-here-button {
  display: block;
  width: 120px;
  height: 40px;
  background-color: #026fd1;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 40px;
}
/*
.category-past-seminars .site-main {
  width: 80%;
  max-width: 1200px;
	display: block;
	margin: 0 auto;
}

.single-post .category-past-seminars {
  width: 80%;
  max-width: 1200px;
	display: block;
	margin: 0 auto;
}
*/
.category-seminars {
  width: 80%;
  max-width: 1200px;
	display: block;
	margin: 0 auto;
}

.category-seminars h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.5;
	color: #3e3e3e;
	margin: 20px auto;
	padding: 10px;
}

.category-seminars h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 1.5;
	color: #3e3e3e;
	margin: 20px auto;
	padding: 10px;
}

.category-seminars h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
	color: #3e3e3e;
	margin: 20px auto;
	padding: 10px;
}

.category-seminars p {
  font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #3e3e3e;
	margin: 20px auto;
	padding: 0 15px;
}

.category-seminars a {
  font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.googlemaps iframe {
  width: 100%;
}

.googlemaps {
  height: 100%;
}

iframe {
  width: 100%;
}
/* end of seminar */
