body {
  background-color: #e1e8ff;
}

/* main */

.main-container {
  margin: auto;
  padding: 0;
  width: 1100px;
  /*height: 1000px;*/
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(225,232,255,0.7665441176470589) 100%);
}

.main-container {
  margin: auto;
  padding: 0;
  width: 1100px;
  /*height: 1000px;*/
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(225,232,255,0.7665441176470589) 100%);
}

.main-container h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  color: black;
  padding-top: 50px;
}

.main-container h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 70px;
  margin: 0 auto;
  background-color: #026fd1;
}

.main-container h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  color: #026fd1;
  padding-top: 50px;
}

.main-container h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  color: white;
  padding: 0 0 0 50px;
  background-color: #026fd1;
  width: 90%;
  margin: 10px auto 10px auto;
  text-align: left;
}

.main-container p {
  list-style: none;
  width: 1000px;
  height: auto;
  text-align: left;
  margin: 25px auto 25px auto;
  font-size: 16px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* service table */
table.service-table {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  width: 1000px;
  /*height: 600px;*/
  text-align: left;
  border-collapse: collapse;
  margin: 25px auto 25px auto;
}

table.service-table td, table.service-table th {
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 3px 3px;
  height: 50px;
}

table.service-table tr td:nth-child(1) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  text-align: left;
  width: 30%;
}

.reference {
  list-style: none;
  width: 1000px;
  height: auto;
  text-align: left;
  margin: 10px auto 50px auto;
  font-size: 16px;
}

.cyan {
  background-color: cyan;
}
